body {
  margin: 0;
  padding: 10px;
  background-color: #444444;
  cursor: url('../images/feather.svg'), auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  gap: 20px;
  position: relative;
}

.front-cover {
  background-color: #000;
  width: 350px;
  height: 600px;
  padding: 20px;
  position: relative;
  background-image: #000;
  background-repeat: no-repeat;
  box-shadow: -5px 5px 0 #fff;
}

.front-cover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 4px;
  left: -4px;
  box-shadow: -5px 5px 0 #1b1f20;
}

.front-cover img {
  width: 80%;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
}

/* Contenido */
.content {
  width: 350px;
  min-height: 600px;
  padding: 20px;
  background: linear-gradient(to bottom, #d9d7c8 0%, white 8%);
  background-size: 100% 30px;
  border: 1px solid #d9d7c8;
  box-shadow: 3px 3px 0 #1b1f20;
  font-family: "Berkshire Swash", cursive;
  color: #333;
  font-size: 1.2rem;
  line-height: 1.56;
  position: relative;
}

.content::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 4px;
  left: -3px;
  box-shadow: -3px 3px 0 #1b1f20;
}

.upload-button {
  bottom: 20px;
  right: -150px;
  background: #1b1f20;
  color: white;
  padding: 10px 20px;
  font-family: "Berkshire Swash", cursive;
  border: 1px solid #fff;
  box-shadow: 2px 2px 0 #1b1f20;
  cursor: pointer;
  transition: transform 0.2s;
}

.upload-button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0 #1b1f20;
}

.uploaded-image {
  max-width: 100%;
  display: block;
  margin-top: 20px;
  border: 1px solid #1b1f20;
  box-shadow: 2px 2px 0 #1b1f20;
}

.form-section {
  background-color: #1b1f20;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 10px;
  width: 300px;
  height: fit-content;
  box-shadow: 3px 3px 0 #000;
  color: white;
  font-family: "Berkshire Swash", cursive;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.input-group input {
  width: 95%;
  padding: 8px;
  background-color: #333;
  color: white;
  border: 1px solid #555;
  border-radius: 4px;
  font-family: inherit;
}

button[type="submit"] {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  font-family: "Berkshire Swash", cursive;
  box-shadow: 2px 2px 0 #fff;
  transition: transform 0.2s;
}

button[type="submit"]:hover {
  transform: translate(-2px, -2px);
  box-shadow: 4px 4px 0 #6b3636;
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: limegreen;
  margin-top: 10px;
}

.deathnote-section {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.muertes-section {
  width: 300px;
  background-color: #111;
  color: white;
  padding: 1rem;
  margin-left: 2rem;
  border: 2px solid #444;
  border-radius: 8px;
  overflow-y: auto;
  max-height: 500px;
}

.muerte-item {
  margin-bottom: 1rem;
  border-bottom: 1px solid #555;
  padding-bottom: 0.5rem;
}

.muerte-foto {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  margin-top: 0.5rem;
  border-radius: 4px;
}
