body {
  margin: 0;
  padding: 10px;
  background-color: #444444;
  cursor: url('./images/feather.svg'), auto;
}

.container {
  position: absolute;
  left: 50px;
  transform: translatex(-50%);
  display: flex;
  gap: 10px;
}

.front-cover {
  background-color: #000;
  width: 150px;
  height: 600px;
  padding: 10px;
  position: relative;
  display: s;
}